@import '../../../../scss/partials/bootstrap-breakpoints';

@include media-breakpoint-up(lg) {
    .content {
        margin-left: 80px;
        padding: 10px;
        transition: .5s;

        &.sidebarExpanded {
            margin-left: 260px;
        }

        &.sidebarDesktopExpanded {
            margin-left: 50px;
        }
    }

    .hide-content {
        margin-left: 80px;
        padding: 0px;
        transition: .5s;

        &.sidebarExpanded {
            margin-left: 260px;
        }
    }
}

@include media-breakpoint-down(lg) {
    .hide-content {
        padding: 0px;
        transition: .5s;

        &.sidebarExpanded {
            margin-left: 260px;
        }
    }

    .content {
        &.sidebarExpanded {
            margin-left: 260px;
        }
    }
}

@include media-breakpoint-down(md) {
    .hide-content {
        margin-left: 0px;
        padding: 0px;
        transition: .5s;

        &.sidebarExpanded {
            margin-left: 260px;
        }
    }

    .content {
        margin-left: 0px;
    }
}

@include media-breakpoint-down(sm) {
    .hide-content {
        margin-left: 0px;
        padding: 0px;
        transition: .5s;

        &.sidebarExpanded {
            margin-left: 260px;
        }
    }

    .content {
        margin-left: 0px;
    }
}

.content {
    padding: 80px 23px 10px;
    @include media-breakpoint-down(md) {
        padding: 80px 10px 10px;
    }
    transition: .5s;
}