<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <div *ngIf="formShowInputs.showGenderSelected" class="forms-inputs mb-4">
        <span class="span-login" [ngClass]="{ 'text-danger': submitted && f.genderSelected.errors }"><i  class="feather icon-edit-2"></i>  {{ 'Pet Gender' | translate }}</span>
        
        <p-dropdown styleClass="d-flex w-100" 
            [options]="genderType" 
            [autoDisplayFirst]="false"
            optionLabel="gender" formControlName="genderSelected"
            [ngClass]="{ 'is-invalid dropdown-invalid': submitted && f.genderSelected.errors }" optionValue="Id">
        </p-dropdown>        

        <div *ngIf="submitted && f.genderSelected.errors" class="invalid-feedback">
            <small class="small-msg" *ngIf="f.genderSelected.errors.required">{{'Pet Gender'}} {{'is required' | translate}}</small>
        </div>
    </div>

    <div *ngIf="formShowInputs.showPetName" class="forms-inputs mb-4">
        <span class="span-login" [ngClass]="{'text-danger': submitted && f.petName.errors }"><i  class="feather icon-edit-2"></i>  {{ 'Pet Name' | translate }}</span>
        <input type="text" formControlName="petName"  [ngClass]="{ 'is-invalid': submitted && f.petName.errors }" class="form-control">
        <div *ngIf="submitted && f.petName.errors" class="invalid-feedback">
            <small class="small-msg" *ngIf="f.petName.errors.required">{{'Pet Name' | translate}} {{'is required' | translate}}</small>
        </div>
    </div>

    <div *ngIf="formShowInputs.showPhone" class="forms-inputs mb-4">
        <div class="p-inputgroup">
            <p-dropdown  
                styleClass="d-flex w-100 custom-dropdown" 
                [options]="countryFlag"
                optionLabel="flag"
                formControlName="country"
                [autoDisplayFirst]="false"
                [filter]="true" filterBy="name"
                optionValue="name">
                <ng-template let-option pTemplate="item">
                    <span [class]="'customer-badge status-' + option.dial_code">{{option.flag}} - {{ option.name | translate }} - <span class="text-dim">{{option.dial_code}}</span></span>
                </ng-template>
            </p-dropdown>
            <span class="span-login" [ngClass]="{'text-danger': submitted && f.phone.errors }">
                <i  class="feather icon-phone"></i> Número telefónico {{ ( f.petName.value == '') ? ' ' : 'para ' + f.petName.value }}
            </span>
            <p-inputMask styleClass="w-100" mask="9999-9999" formControlName="phone" placeholder="9999-9999" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"></p-inputMask>
            <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                <small class="small-msg" *ngIf="f.phone.errors.required">Teléfono es requerido</small>
                <small class="small-msg" *ngIf="f.phone.errors.minlength">Teléfono debe ser al menos 8 digitos</small>
                <small class="small-msg" *ngIf="f.phone.errors.pattern">Solo se permiten números</small>
            </div>
        </div>
    </div>

    <div *ngIf="formShowInputs.showEmail" class="forms-inputs mb-4">
        <span class="span-login" [ngClass]="{'text-danger': submitted && f.email.errors }">
            <i class="feather icon-mail"></i> Ingrese un correo {{ ( f.petName.value == '') ? ' ' : 'para ' +  f.petName.value }}
        </span>
        <input pInputText class="w-100" id="email" aria-describedby="email-help" placeholder="@example.com" pInputText formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <small class="small-msg" *ngIf="f.email.errors.email">Email debe tener un correo valido</small>
            <small class="small-msg" *ngIf="f.email.errors.required">Correo es requerido</small>
        </div>
    </div>

    <div *ngIf="formShowInputs.showPassword" class="forms-inputs mb-4">
        <span class="span-login" [ngClass]="{'text-danger': submitted && f.password.errors }">
            <i class="feather icon-lock"></i> Contraseña
        </span>
        <input type="{{showPassword ? 'text': 'password'}}" pInputText class="w-100" formControlName="password" [ngClass]="{ 'is-invalid invalid': submitted && f.password.errors }" />
        <i style="cursor: pointer; position: relative; top: -37px; float: right;" (click)="showPassword = !showPassword"
        ngbTooltip="{{!showPassword ? 'Mostrar Contraseña': 'Ocultar Contraseña'}}"
        class="{{!showPassword ? 'far fa-eye eye-show' : 'far fa-eye-slash eye-hide'}} px-3 py-1"></i>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <small class="small-msg" *ngIf="f.password.errors.required">Contraseña es requerida</small>
            <small class="small-msg" *ngIf="f.password.errors?.minlength">Contraseña debe tener al menos 6 caracteres</small>
        </div>
    </div>

    <div *ngIf="formShowInputs.showConfirmPassword" class="forms-inputs mb-4">
        <span class="span-login" [ngClass]="{'text-danger': submitted && f.confirmPassword.errors }">
            <i class="feather icon-lock"></i> Confirmar contraseña
        </span>
        <input type="{{showPassword2 ? 'text': 'password'}}" pInputText class="w-100" formControlName="confirmPassword" [ngClass]="{ 'is-invalid invalid': submitted && f.confirmPassword.errors }" />
        <i style="cursor: pointer; position: relative; top: -37px; float: right;"
        (click)="showPassword2 = !showPassword2"
        ngbTooltip="{{!showPassword2 ? 'Mostrar Contraseña': 'Ocultar Contraseña'}}"
        class="{{!showPassword2 ? 'far fa-eye eye-show' : 'far fa-eye-slash eye-hide'}} px-3 py-1"></i>

        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
            <small class="small-msg" *ngIf="f.confirmPassword.errors">Contraseña no son iguales</small>
            <small class="small-msg" *ngIf="f.confirmPassword.errors.required">Confirmar Contraseña es requerida</small>
            <small class="small-msg" *ngIf="f.confirmPassword.errors.mustMatch">Contraseña no son iguales</small>
        </div>
    </div>

    <div *ngIf="formShowInputs.showCodeGenerator" class="forms-inputs mb-4">
        <label htmlFor="codeGenerator" [ngClass]="{ 'text-danger': submitted && f.codeGenerator.errors }"><i
                class="feather icon-edit-2"></i> Ingrese el codigo de registro</label>
        <input pInputText class="w-100" id="codeGenerator" aria-describedby="codeGenerator-help" pInputText
            formControlName="codeGenerator" [ngClass]="{ 'is-invalid': submitted && f.codeGenerator.errors }" />
        <div *ngIf="submitted && f.codeGenerator.errors" class="invalid-feedback">
            <small class="small-msg" *ngIf="f.codeGenerator.errors.required">Código para tu mascota es requerida</small>
        </div>
    </div>

    <div class="forms-inputs mb-4">
        <label htmlFor="confirmPassword" [ngClass]="{ 'text-danger': submitted && f.confirmPassword.errors }">
            <i class="feather icon-image"></i> Seleccione una foto de {{ ( f.petName.value == '') ? 'tu mascota' : f.petName.value }}
        </label>

        <p-fileUpload name="myfile[]" [maxFileSize]="maxSizeInBytes" (onSelect)="processFile($event)" [multiple]="false" [showUploadButton]="false"
            [chooseLabel]="(Media.IsMobile) ? 'Subir' : 'Subir Imagen'" [chooseIcon]="'feather icon-image'"  invalidFileSizeMessageDetail="El archivo excede el tamaño máximo permitido de 6MB"
            [chooseStyleClass]="'p-1'"  allowTypes="*.jpg;*.png;*.jpeg;" [cancelLabel]="'Cancelar'" [cancelStyleClass]="'p-1'" accept="image/*">

            <ng-template pTemplate="toolbar">
                <div *ngIf="!Media.IsMobile" class="py-3">Arrastra y suelta la imagen a esta zona <i class="feather icon-arrow-down"></i> </div>
            </ng-template>
            <ng-template pTemplate="content">
                <ng-template pTemplate="content">
                    <ul *ngIf="uploadedFiles.length">
                        <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                    </ul>
                </ng-template>
            </ng-template>
        </p-fileUpload>

    </div>

    <div *ngIf="formShowInputs.showAcceptTerms" class="form-group mb-4 text-center">
        <div class="row d-flex aling-content-center">
            <div class="col-2">
                <label class="container-custom mt-1">
                    <input type="checkbox" formControlName="acceptTerms" id="acceptTermss" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="col-10">
                <label style="cursor: pointer;" (click)="openTermsAndCondiions()" for="acceptTerms" class="fw-bold">Accepto términos & condiciones </label> <br>
                <small *ngIf="submitted && f.acceptTerms.errors" class="text-danger ms-4">Acceptar Ts & Cs es requerido</small>
            </div>
        </div>
    </div>

    <div *ngIf="hideMsg" class="row g-0 alert alert-warning error-message text-center mt-2" role="alert">
        <strong class="text-center"><i class="feather icon-alert-circle"></i> {{ ShowMsg | translate}}</strong>
    </div>
    <div class="follow-btn" type="submit">
        <button [disabled]="loading" type="submit" (click)="onSubmit();" class="btn btn-custom w-100 ">
            <div *ngIf="loading" class="me-3 spinner-border spinner-border-sm text-dark" role="status">
                <span class="sr-only">Loading...</span>
            </div> Registrar a {{ ( f.petName.value == '') ? 'mi mascota' : f.petName.value }}
        </button>
    </div>
</form>

<div class="modal modal-qr fade" tabindex="-1" role="dialog" id="termsandcondition">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header custom-header-modal text-center header-modal" id="exampleModalLabel">
                <h5 class="text-center modal-title"><i class="fas fa-paw"></i> TÉRMINOS Y CONDICIONES</h5>
                <a type="button" class="modal-title px-0" data-bs-dismiss="modal" aria-label="Close"> <i class="fas fa-times fs-3"></i> </a>
            </div>
            <div class="modal-body">
              <app-terms-and-conditions></app-terms-and-conditions>
            </div>
        </div>
    </div>
</div>