<div class="register">
    <div class="auth-content mx-3">
        <div class="card register-card">
            <div class="card-header text-center">
                <img src="assets/images/plaquitascr.png" alt="Plaquitas CR Logo Register" class="img-fluid" height="150px" width="150px">
            </div>
            <div class="card-body">

                <app-register-form
                    [primaryId]="primaryId"
                    [secondaryId]="secondaryId"
                    [isNewPetRegisterFromUserProfile]="false"
                    [formValidation]="formValidateInputs"
                    [formShowInputs]="formShowInputs"
                    [registerType]="registerType">
                </app-register-form>

                <div class="col-12 mt-4 d-flex justify-content-between">
                    <!-- <a [routerLink]="['/forgotPassword']" class="text-sm ml-auto text-decoration-none text-dim">{{'Forgot password' | translate}}</a><br> -->
                    <a [routerLink]="['/login']" class="text-sm ml-auto text-decoration-none text-dim">{{'Sign in' | translate}}</a>
                </div>
            </div>
        </div>
    </div>
</div>