.theme-default-light {
    --background-color: #e9e9e9;
    --text-dark-color: #000;
    --text-light-color: #55b3ae;
    --font-color: #404040; 
    --padding-size: 2rem;
    --opener-size: 2.5rem;
    --dot-size: 0.4rem;
    --nav-width: 260px;
    --nav-bg-color: #124a59;
    --nav-text-color: #124a59;
    --nav-color-hover: #fffafa;
    --acordion-bg-color: #fff;

    --secondary-color: #ffffff;
    --primary-bg-color: #fff;
    --secondary-bg-color: #1c4d4b;
    --terciary-bg-color: #124a59;
    --quaternary-bg-color: #236877;
    --header-height: 3rem;
    --first-color: #4723D9;
    --first-color-light: #124a59;
    --bs-font-sans-serif: 'Open Sans', sans-serif !important;
    --normal-font-size: 14px;
    --scroll-bg-color: rgb(88, 88, 88);
    --scroll-bg-color-hover: rgb(156, 156, 156);
    --border-account-user: #198754;
    --background-inputs: rgba(255, 255, 255, 0.19);

    --btn-primary-bg-color: #128c7e;
    --btn-primary-bg-color-hover: rgb(19, 126, 104);
    --btn-primary-text-color: #fff;

    --btn-info-text-color: #fff;

    --btn-secondary-bg-color: #29859ef0;
    --btn-secondary-bg-color-hover: #257288f0;
    --btn-secondary-text-color: #fff;

    --btn-danger-bg-color: #e74c3c;
    --btn-danger-text-color: #fff;
    --btn-danger-bg-color-hover: #e12e1c;

    --btn-outline-primary: #1abc9c;
    --btn-outline-primary-color: #1abc9c;

    --btn-outline-primary-text-color-hover: #fff;
    --btn-outline-primary-background-color: #1abc9c;

    --bg-secondary: #29859ef0;

    --card-shadow: -1px 5px 6px 1px rgba(0, 0, 0, 0.05);
    // --card-shadow-custom: -1px 5px 6px 1px rgb(0 0 0 / 17%);
    --card-shadow-custom: 0 1rem 1.5rem #00000080;

    --data-table-header-bg: #fff;
    --data-table-header-border-color: #f1eded;
    --data-table-thead-bg: #f8f9fa;
    --data-table-thead-text-color: #37474f;
    --bs-secondary-color: #868e96;

    --border-radius: 25px;
    --dp-size: 10rem;

    background: var(--background-color);

    body,
    html {
        background: var(--background-color);
        font-family: var(--bs-font-sans-serif);
        font-size: var(--normal-font-size);
    }

    /* width */
    ::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #fff;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background-color: var(--scroll-bg-color);
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--scroll-bg-color-hover);
    }

    .text-small {
        color: var(--bs-secondary-color);
        font-size: 13px;
    }

    // BUTTONS 
    .p-button.p-button-primary,
    .btn-primary {
        color: var(--btn-primary-text-color);
        background-color: var(--btn-primary-bg-color);
        border-color: var(--btn-primary-bg-color);
        border-radius: var(--border-radius);
    }

    .btn-info{
        color: var(--btn-info-text-color);
        border-radius: var(--border-radius);
    }

    .p-button.p-button-primary,
    .btn-primary:hover {
        color: var(--btn-primary-text-color);
        background-color: var(--btn-primary-bg-color-hover);
        border-color: var(--btn-primary-bg-color-hover);
        border-radius: var(--border-radius);
    }

    .p-button.p-button-secondary,
    .btn-secondary {
        color: var(--btn-secondary-text-color);
        background-color: var(--btn-secondary-bg-color);
        border-color: var(--btn-secondary-bg-color);
        border-radius: var(--border-radius);
    }

    .p-button.p-button-secondary,
    .btn-secondary:hover {
        color: var(--btn-secondary-text-color);
        background-color: var(--btn-secondary-bg-color-hover);
        border-color: var(--btn-secondary-bg-color-hover);
        border-radius: var(--border-radius);
    }

    .btn-danger {
        color: var(--btn-danger-text-color);
        background-color: var(--btn-danger-bg-color);
        border-color: var(--btn-danger-bg-color);
        border-radius: var(--border-radius);
    }

    .btn-danger:hover {
        color: var(--btn-danger-text-color);
        background-color: var(--btn-danger-bg-color-hover);
        border-color: var(--btn-danger-bg-color-hover);
        border-radius: var(--border-radius);
    }

    .btn-outline-primary {
        color: #1abc9c;
        border-color: #1abc9c;
    }

    .btn-outline-primary:hover {
        color: var(--btn-outline-primary-text-color-hover);
        background-color: var(--btn-outline-primary-background-color);
        border-color: var(--btn-outline-primary);
    }

    // .bg-secondary{
    //     background-color: var(--bg-secondary) !important;
    // }

    .custom-bg {
        background-color: var(--background-color);
    }

    .bg-success-custom {
        background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
    }

    .bg-success-custom,
    .bg-warning,
    .bg-info {
        --bs-bg-opacity: 0.3;
    }

    .text-ended {
        color: #86c7f3;
    }

    .text-pending {
        color: #e7cc89;
    }

    .text-preparing {
        color: #ffa1b5;
    }

    .text-order {
        color: #c9cbcf;
    }

    // LOGIN
    .register,
    .login {
        position: relative;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: flex-start;
        -webkit-box-pack: center;
        justify-content: center;
        overflow: hidden;
        min-width: 100%;
        min-height: 100vh;
        // background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../src/assets/images/login-bg.png');
        background: linear-gradient(0deg, rgb(247 247 247 / 17%), rgb(41 133 158 / 94%));
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;

        .auth-content {
            padding-top: 5rem;
            padding-bottom: 5rem;
        }

        @include media-breakpoint-up(md) {
            .card-custom {
                width: 20rem;
            }

            .register-card {
                width: 24rem;
            }
        }

        .small-msg {
            padding-left: 5px;
        }
    }

    .forms-inputs input {
        width: 100%;
        height: 50px;
        border: 2px solid #eee
    }

    .p-inputtext:enabled:focus,
    .forms-inputs input:focus {
        box-shadow: none;
        outline: none;
        border: 2px solid #000;
        border-radius: var(--border-radius);
    }

    .p-inputmask:focus,
    .p-inputgroup input, 
    .p-inputgroup input:focus {
        border-radius: 0px  var(--border-radius) var(--border-radius) 0px !important;
    }

    .custom-dropdown{
        border-radius: var(--border-radius) 0px 0px var(--border-radius) !important;
    }
    
    .p-dropdown-panel {
        max-width: 315px;
    }

    .btn-custom {
        color: #fff;
        font: inherit;
        font-weight: 700;
        background-color: var(--btn-secondary-bg-color);
        border: none;
        padding: 1rem;
        outline: none;
        box-sizing: border-box;
        border-radius: 1.5rem/50%;
        transition: background-color .1s ease-in-out, transform .2s cubic-bezier(.18, .89, .32, 1.28)
    }

    .btn-custom:hover {
        background-color: var(--btn-secondary-bg-color-hover);
    }

    .card {
        box-shadow: var(--card-shadow);
        margin-bottom: 30px;
        transition: box-shadow 0.2s ease-in-out;
        border-top: 3px solid #8CDDCD;
        border-radius: var(--border-radius);

        &.borderless {
            border-top: none;
        }

        .card-header {
            border-bottom: 1px solid transparent;
            position: relative;
            border-radius: var(--border-radius);


            h5 {
                margin-bottom: 0;
                color: #37474f;
                font-size: 0.9375rem;
                font-weight: 600;
                display: inline-block;
                margin-right: 10px;
                line-height: 1.1;
                position: relative;
            }

            .card-header-right {
                right: 10px;
                top: 10px;
                float: right;
                padding: 0;
                position: absolute;

                @media only screen and (max-width: 575px) {
                    display: none;
                }

                .dropdown-menu {
                    margin-top: 0;

                    li {
                        cursor: pointer;

                        a {
                            font-size: 14px;
                            text-transform: capitalize;
                        }
                    }
                }

                .btn.dropdown-toggle {
                    border: none;
                    background: transparent;
                    box-shadow: none;
                    color: #888;

                    i {
                        margin-right: 0;
                    }

                    &:after {
                        display: none;
                    }

                    &:focus {
                        box-shadow: none;
                        outline: none;
                    }
                }

                // custom toggler
                .btn.dropdown-toggle {
                    border: none;
                    background: transparent;
                    box-shadow: none;
                    padding: 0;
                    width: 20px;
                    height: 20px;
                    right: 8px;
                    top: 8px;

                    &.mobile-menu span {
                        background-color: #888;
                        height: 2px;
                        border-radius: 5px;

                        &:after,
                        &:before {
                            border-radius: 5px;
                            height: 2px;
                            background-color: #888;
                        }
                    }
                }

                .nav-pills {
                    padding: 0;
                    box-shadow: none;
                    background: transparent;
                }
            }
        }

        .card-footer {
            border-top: 1px solid #e2e5e8;
            padding: 12px 20px;

            &:not([class*="bg-"]) {
                background: transparent;
            }
        }

        .card-block,
        .card-body {
            padding: 20px;
        }

        &.card-load {
            position: relative;
            overflow: hidden;

            .card-loader {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                background-color: rgba(256, 256, 256, 0.7);
                z-index: 999;

                i {
                    margin: 0 auto;
                    color: #1abc9c;
                    font-size: 24px;
                    align-items: center;
                    display: flex;
                }
            }
        }

        &.full-card {
            z-index: 99999;
            border-radius: 0;
        }

        &[class*="bg-"] {
            .card-header {
                border-bottom-color: rgba(255, 255, 255, 0.25);
            }
        }
    }

    .card-custom {
        box-shadow: var(--card-shadow-custom);
        border-radius: var(--border-radius);
    }

    //Sidenav Styles START

    .chevron::before {
        border-style: solid;
        border-width: 0.15em 0.15em 0 0;
        content: "";
        display: inline-block;
        height: 0.35em;
        left: 0.15em;
        position: relative;
        top: 0.3em;
        vertical-align: top;
        width: 0.35em;
        font-size: 35px;
    }

    .sidebar {
        position: fixed;
        left: 0;
        top: 0;
        transition: .5s;
        height: 100vh;
        //z-index: 1054;
        width: 80px;
        background: var(--nav-bg-color);
        background-color: var(--nav-bg-color);
        color: var(--text-light-color);
        border: none;

        &.expanded {
            width: 260px;

            .header {
                .title {
                    margin-left: 0px;
                }

                .chevron {
                    margin-left: 0px;
                    font-size: 35px;

                    &::before {
                        transform: rotate(-135deg);
                    }
                }
            }
        }

        .header {
            //display: flex;
            align-items: center;
            justify-content: center;
            //padding: 10px;
            background-color: var(--terciary-bg-color);

            .title {
                font-size: 17px;
                color: var(--text-light-color);
                margin: 0;
                flex: 1;
                transition: 0.3s;
            }

            .chevron {
                color: var(--text-light-color);
                cursor: pointer;
                transition: 0.3s;
                padding: 3px 7px 0px 30px;
                min-width: 20px;
                height: 45px;
                display: block;
                text-align: center;

                &::before {
                    transition: 0.3s;
                    transform: rotate(45deg);
                }

                &:hover {
                    color: var(--text-light-color)
                }
            }
        }


        .content {
            height: calc(100vh - 110px);
            overflow-y: auto;
            overflow-x: hidden;

            .link {
                .children {
                    .content {
                        background: #27283a;
                        padding-left: 10px;

                        &.active {
                            background: #191a27;
                        }
                    }
                }
            }
        }


        .footer {
            position: fixed;
            bottom: 0;
            background-color: var(--quaternary-bg-color);
            border-top: 1px solid #a8a8a8;
            transition: 0.5s;
        }

        .offcanvas-height {
            position: absolute;
            // height: 68vh;
            top: 65px;
        }

        .nav_logo,
        .nav_link {
            cursor: pointer;
            display: grid;
            grid-template-columns: max-content max-content;
            align-items: center;
            column-gap: 1rem;
            padding: 13px 30px;
            font-size: 12px;
            font-weight: 700;
        }

        .nav_logo-name {
            color: var(--text-light-color);
            font-weight: 700
        }

        .nav_link {
            color: var(--text-light-color);
            transition: .3s
        }

        .nav_link:hover {
            color: var(--nav-color-hover);
            background-color: transparent;
            //box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }

        .nav_icon {
            font-size: 1.30rem;
            // position: absolute;
            // left: 30px;
            //z-index: -1;
        }

        .active {
            color: var(--text-light-color);
            border-left: 4px solid var(--secondary-color);
        }

        .accordion-flush .accordion-item .accordion-button,
        .accordion-flush .accordion-item .accordion-button.collapsed {
            border-radius: 0;
            padding: 10px 10px 10px 20px;
        }

        .accordion-item {
            border: none
        }

        .accordion-item,
        .accordion-button {
            background-color: var(--acordion-bg-color);
            color: var(--first-color-light);
        }

        .accordion-button {
            // width: 200px;
            transition: .5s;
        }

        .accordion-button:not(.collapsed) {
            color: var(--first-color-light);
            border: none;
            box-shadow: none;
        }

        // .accordion-button:hover {
        //     color: var(--text-light-color);
        // }

        .accordion-button:focus {
            box-shadow: none;
        }

        .acordion-icon {
            margin-right: 21px;
            margin-left: 16px;
        }

        // .accordion-button::after {
        //     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        // }

        .accordion-body {
            transition: 0.5s;
            background-color: var(--background-color);
            padding: 4px 1px 1px 1px;
        }

        .hide-padding {
            transition: 0.5s;
        }
    }

    //Sidenav Styles END


    // Toolbar Styles START

    @include media-breakpoint-up(lg) {
        .header_img {
            width: 40px;
            height: 40px
        }

        .header_img img {
            width: 45px
        }

        .l-navbar {
            left: 0;
            padding: 1rem 1rem 0 0;
        }

        .body-pd {
            padding-left: calc(var(--nav-width) + 188px)
        }
    }

    .stickty-button {
        width: -webkit-fill-available;
        background-color: var(--background-color);
        transition: .5s;
        height: 70px;
        display: grid;
        align-items: center;
        position: fixed;
        z-index: 1002;
        top: 55px;
    }

    .custom-top-margin {
        margin-top: 65px;
    }

    .toolbar-header {
        background-color: var(--quaternary-bg-color);
        transition: .5s;
        height: 55px;
        display: grid;
        align-items: center;

        &.expanded {
            margin-left: 260px;
        }

        @include media-breakpoint-up(lg) {
            &.closed {
                margin-left: 80px;
            }
        }

        @include media-breakpoint-down(lg) {
            &.closed {
                margin-left: 0px;
            }
        }

        .text-light-nav {
            color: var(--text-light-color);
        }

        .text-light-nav {
            color: var(--text-light-color);
        }

        .navbar-icon-top .navbar-nav .nav-link>.fas {
            position: relative;
            width: 36px;
            font-size: 24px;
            top: 3px;
            line-height: 12px;
        }

        .navbar-icon-top .navbar-nav .nav-link>.fas>.badge {
            font-size: 0.75rem;
            position: absolute;
            right: 0;
            font-family: sans-serif;
            top: -10px;
        }

        .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
            text-align: center;
            display: grid;
            vertical-align: middle;
            margin-top: 5px;
            padding-top: 0;
            padding-bottom: 0;
            font-size: 12px;
        }

        .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link>.fas {
            display: block;
            width: 48px;
            margin: 2px auto 4px auto;
            top: 0;
            line-height: 24px;
        }

        .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link>.fas>.badge {
            top: -7px;
        }

        .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link::after {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        }


        .notification {
            width: 238px;
        }

    }

    .header {
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 1rem;
        //background-color: var(--text-light-color);
        background-color: var(--quaternary-bg-color);
        transition: .5s
    }

    .header_toggle {
        color: var(--first-color);
        font-size: 1.5rem;
        cursor: pointer
    }

    .header_img {
        width: 35px;
        height: 35px;
        justify-content: center;
        border-radius: 50%;
        overflow: hidden
    }

    .header_img img {
        width: 40px
    }

    .search {
        position: relative;
        // margin: 10px;
        color: var(--secondary-bg-color);
        box-shadow: 0 0 40px rgba(51, 51, 51, .1)
    }

    .search input {
        height: 60px;
        text-indent: 25px;
        border: 2px solid #d6d4d4
    }

    .search input:focus {
        box-shadow: none;
        border: 2px solid var(--secondary-bg-color);
    }

    .search .fa-search {
        position: absolute;
        top: 20px;
        left: 16px
    }

    .search button {
        position: absolute;
        top: 5px;
        right: 5px;
        height: 50px;
        width: 70px;
        background: var(--secondary-bg-color);
    }

    @include media-breakpoint-down(lg) {
        .offcanvas-body {
            padding: 0px;
            overflow-y: scroll;
        }

        .nav-item {
            //margin-bottom: 15px;
            margin-left: 10px;
        }
    }



    @include media-breakpoint-up(md) {
        .search input {
            text-indent: 25px;
            border: 2px solid #d6d4d4
        }

        .search button {
            position: absolute;
            top: 5px;
            right: 5px;
            height: 50px;
            width: 80px;
            border-color: var(--secondary-bg-color);
            background-color: var(--secondary-bg-color);
        }

        .search input:focus {
            box-shadow: none;
            border: 2px solid var(--secondary-bg-color);
        }

        .search .fa-search {
            position: absolute;
            // top: 13px;
            left: 13px
        }

        .search {
            position: relative;
            box-shadow: 0 0 40px rgba(51, 51, 51, .1)
        }
    }

    // Toolbar Styles END

    label {
        color: var(--text-color);
    }

    .form-select {
        background-color: var(--secondary-bg-color);
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        color: var(--first-color-light);
        border: none;
    }

    option {
        padding: 24px;
    }

    .dropdown-menu {
        background-color: var(--terciary-bg-color);
    }

    .dropdown-item:hover,
    .dropdown-item:focus {
        background-color: transparent;
        color: #fff;
    }

    .navbar-nav .dropdown-menu {
        transition: transform .3s cubic-bezier(.155, 1.105, .295, 1.12), box-shadow .3s;
    }

    .dropdown-item {
        color: var(--text-light-color);
    }

    .dropdown-toggle::after {
        display: none;
    }

    .swal2-popup {
        background: var(--primary-bg-color);
    }

    .swal2-title,
    .swal2-html-container {
        color: var(--text-dark-color);
    }

    .swal2-styled.swal2-confirm {
        background-color: var(--btn-primary-bg-color);
    }

    .swal2-styled.swal2-confirm:focus {
        box-shadow: none;
    }

    // TABLES STYLES START

    .table-default {
        --bs-table-striped-bg: #c7dbd2;
        --bs-table-striped-color: var(--text-color);
        --bs-table-active-bg: #215ea9;
        --bs-table-active-color: var(--text-color);
        --bs-table-hover-bg: #d6e9ff;
        --bs-table-hover-color: var(--text-color);
    }

    .table>tbody {
        background: #fff !important;
        color: black;
    }

    .table-bordered>thead>tr>th {
        border-bottom-width: 2px !important;
    }

    .page-item.active .page-link {
        z-index: 3;
        color: #fff;
        background-color: var(--secondary-bg-color);
        border-color: var(--secondary-bg-color);
    }

    // TABLES STYLES END

    // MODAL STYLES START

    .modal-search {
        width: 100%;

        @include media-breakpoint-down(md) {
            width: auto;
        }
    }

    .modal-content {
        // background-color: var(--terciary-bg-color);
        border: none;
        border-radius: var(--border-radius);

        .active {
            transition: transform .3s cubic-bezier(.155, 1.105, .295, 1.12), box-shadow .3s;
            transform: scale(1.05);
        }

        .modal-header {
            border-bottom: 1px solid var(--primary-bg-color);
            background-color: var(--primary-bg-color);
            border-radius: var(--border-radius);

            .btn-close {
                color: #fff;
            }
        }

        .modal-title {
            color: var(--text-dark-color);
        }

        .modal-footer {
            border-top: none;
            justify-content: space-between;
        }
    }

    // MODAL STYLES END

    .nav-tabs .nav-link.active {
        color: var(--color-blue);
        background-color: #d8d8d8;
        border-color: cadetblue;
    }

    // .carousel-inner {
    //     padding: 1em;
    // }


    // .carousel-control-prev,
    // .carousel-control-next {
    //     background-color: #e1e1e1;
    //     width: 6vh;
    //     height: 6vh;
    //     border-radius: 50%;
    //     top: 50%;
    //     transform: translateY(-50%);
    // }

    // @media (min-width: 768px) {
    //     .carousel-item {
    //         margin-right: 0;
    //         flex: 0 0 33.333333%;
    //         display: block;
    //     }

    //     .carousel-inner {
    //         display: flex;
    //     }
    // }

    .card .img-wrapper {
        max-width: 100%;
        height: 13em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card img {
        max-height: 100%;
    }

    @media (max-width: 767px) {
        .card .img-wrapper {
            height: 17em;
        }
    }

    // profile styles start 

    .homeBody input {
        border: 0.5px solid var(--text-color);
        border-radius: 0px;
        color: var(--text-color);
    }

    .forms-inputs input {
        border: 2px solid #c0c0c0;
    }

    .form-control:focus {
        border: 1.5px solid red;
        border-radius: var(--border-radius);
        background: var(--acordion-bg-color);
    }

    input:-internal-autofill-selected {
        background-color: rgb(0, 0, 0);
        background-image: none;
        color: -internal-light-dark-color(black, rgb(0, 0, 0));
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0), inset 0 0 0 100px rgba(255, 255, 255, 1);
    }

    input:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        color: var(--text-color);
        outline-width: 0;
        border-radius: 5px;
        border: 0.5px solid aqua;
        background: var(--background-inputs);
    }

    input {
        box-sizing: border-box;
        color: var(--text-color);
        font-size: 0.8rem;
        letter-spacing: 0.8px;
        font-weight: 500;
        min-height: 50px;
        border-radius: var(--border-radius);
    }

    .input-group:not(.has-validation)> :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
        border-radius: 0px;
    }

    .dropdown-menu[data-bs-popper] {
        top: 100%;
        left: -29px;
        margin-top: var(--bs-dropdown-spacer);
    }

    //PRIME NG STYLES
    .p-card .p-card-title {
        font-size: 0.9375rem;
        color: #37474f;
    }

    .p-datatable .p-datatable-header {
        background: var(--data-table-header-bg);
        border-top: 1px solid var(--data-table-header-border-color);
    }

    .p-datatable .p-datatable-thead>tr>th {
        background: var(--data-table-thead-bg);
        color: var(--data-table-thead-text-color);
    }

    .p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
        box-shadow: none;
    }

    .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
        color: var(--text-dark-color);
        border-color: var(--text-dark-color);
    }

    .p-tabview .p-tabview-panels {
        padding: 1.25rem 0rem;
    }

    .catalog-image {
        object-fit: cover;
        width: 200px;
        height: 200px;
    }

    .p-component {
        font-size: var(--normal-font-size);
        border-radius: var(--border-radius);

        .ptag-severity {
            position: absolute;
            margin: 10px;
            font-size: 12px;
        }
    }

    // .p-carousel-items-container {
    //     width: 55rem !important;
    // }

    .p-sidebar-bottom{
        height: 90%;
        border-radius: var(--border-radius) var(--border-radius) 0 0 ;

    }
    
    .p-sidebar-right{
        width: 30rem;
    }

    /* The container */
    .container-custom {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Hide the browser's default checkbox */
    .container-custom input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        left: 0;
        top: -6px;
        width: 1.4rem;
        height: 1.4rem;
        border: 2px solid #1abc9c;
        border-radius: 0.125rem;
    }

    /* On mouse-over, add a grey background color */
    .container-custom:hover input~.checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container-custom input:checked~.checkmark {
        background-color: #1abc9c;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container-custom input:checked~.checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container-custom .checkmark:after {
        left: 7px;
        top: 3px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .sub-desc span {
        color: #1abc9c;
        font-size: 11px;
    }

    h6 span {
        font-weight: 400;
    }
 
    .editor {
        border: 2px solid rgba(0, 0, 0, 0.2);
        border-radius: 4px;

        &.is-invalid {
            border: 2px solid #f90303 !important;
        }

        .NgxEditor__MenuBar {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        }

        .NgxEditor {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border: none;
            min-height: 270px;
            max-height: 270px;

            &__Content {
                height: 270px;
                overflow-y: scroll;
            }
        }

        .CodeMirror {
            border: 1px solid #eee;
            height: auto;
            margin-bottom: 0.7rem;

            pre {
                white-space: pre !important;
            }
        }
    }

    .p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
        color: #495057;
        border-radius: 0px 0px 10px 10px;
    }

    .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
        border-radius: 0px 0px 10px 10px;
    }

    .p-sidebar-custom
    .p-sidebar-content {
        padding: 0px;
        overflow-x: hidden;
    }

    .p-galleria-item {
        background: #191919;
    }

    /* Estilos de la tarjeta */
    .card-profile {
        background-color: white;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        // border-radius: 2rem;
        box-shadow: 0px 1rem 1.5rem rgba(0, 0, 0, 0.5);

        &.dashboard {
            border-radius: 2rem;
        }

        @include media-breakpoint-up(lg) {
            &.dashboard {
                width: 20rem;
            }

            width: 23rem;
            height: fit-content;
            border-radius: 2rem;
        }
    }

    /* Estilos del banner */
    .public .banner {
        background:linear-gradient(0deg, rgb(247 247 247 / 17%), rgb(41 133 158 / 94%)), url('../../assets/images/plaquitascr.png');
        background-position: left;
        background-repeat: no-repeat;
        background-size: auto;
        height: 31rem;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        box-sizing: border-box;
    }

    /* Estilos del ícono SVG */
    .card-profile .banner img {
        background-color: white;
        width: var(--dp-size);
        height: var(--dp-size);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        z-index: 1;
        transform: translateY(50%);
        transition: transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
    }

    .card-profile .banner img:hover {
        transform: translateY(50%) scale(1.3);
    }

    /* Estilos del menú */
    .card-profile .menu {
        width: 100%;
        height: 5.5rem;
        padding: 1rem;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        position: relative;
        box-sizing: border-box;
    }

    .card-profile .menu .opener {
        width: var(--opener-size);
        height: var(--opener-size);
        position: relative;
        border-radius: 50%;
        transition: background-color 100ms ease-in-out;
    }

    .card-profile .menu .opener:hover {
        background-color: #f2f2f2;
    }

    .card-profile .menu .opener span {
        background-color: var(--font-color);
        width: var(--dot-size);
        height: var(--dot-size);
        position: absolute;
        top: 0;
        left: calc(50% - var(--dot-size) / 2);
        border-radius: 50%;
    }

    .card-profile .menu .opener span:nth-child(1) {
        top: 0.45rem;
    }

    .card-profile .menu .opener span:nth-child(2) {
        top: 1.05rem;
    }

    .card-profile .menu .opener span:nth-child(3) {
        top: 1.65rem;
    }

    /* Estilos del nombre */
    .card-profile h5.name,
    .card-profile h2.name {
        text-align: center;
        padding: 0 var(--padding-size) 0.5rem;
        margin: 0;
    }

    /* Estilos del título */
    .card-profile .title {
        color: var(--font-color);
        font-size: 0.85rem;
        text-align: center;
        padding: 0 var(--padding-size) 1.2rem;
    }

    /* Estilos de las acciones */
    .card-profile .actions {
        padding: 0 var(--padding-size) 1.2rem;
        display: flex;
        flex-direction: column;
        order: 99;
    }

    /* Estilos de la información de seguidores */
    .card-profile .actions .follow-info {
        padding: 0 0 1rem;
        display: flex;
    }

    .card-profile .actions .follow-info h2 {
        text-align: center;
        width: 50%;
        margin: 0;
        box-sizing: border-box;
    }

    .card-profile .actions .follow-info a {
        text-decoration: none;
        padding: 0.8rem;
        display: flex;
        flex-direction: column;
        border-radius: 0.8rem;
        transition: background-color 100ms ease-in-out;
    }

    .card-profile .actions .follow-info a span {
        color: #1c9eff;
        font-weight: bold;
        transform-origin: bottom;
        transform: scaleY(1.3);
        transition: color 100ms ease-in-out;
    }

    .card-profile .actions .follow-info a small {
        color: #afafaf;
        font-size: 0.85rem;
        font-weight: normal;
    }

    .card-profile .actions .follow-info a:hover {
        background-color: #f2f2f2;
    }

    /* Estilos del botón de seguimiento */
    .card-profile .actions .follow-btn button {
        color: #fff;
        font: inherit;
        font-weight: bold;
        background-color: var(--btn-secondary-bg-color);
        width: 100%;
        border: none;
        padding: 1rem;
        outline: none;
        box-sizing: border-box;
        border-radius: 1.5rem / 50%;
        transition: background-color 100ms ease-in-out, transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
    }

    .card-profile .actions .follow-btn button:hover {
        background-color: var(--btn-secondary-bg-color);
        transform: scale(1.1);
    }

    .card-profile .actions .follow-btn button:active {
        background-color: #e8a200;
        transform: scale(1);
    }

    /* Estilos de la descripción */
    .card-profile .desc {
        text-align: justify;
        padding: 0 var(--padding-size) 2.5rem;
        order: 100;
    }


    .card-img-overlay {
        background-color: rgba(#000, 0.4);
    }

    .img-custom {
        background: url('../../assets/images/fondoced-identidad.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgb(255 255 255 / 40%);
        background-blend-mode: overlay;
        border-radius: var(--border-radius);

        .rounded-custom {
            border-radius: var(--border-radius);
        }

        .image-profile {
            width: 100%;
        }
    }

    .card-identity {
        width: 44rem;

        @include media-breakpoint-down(md) {
            width: 100%;
        }
    }

}

:root {
    --bs-border-radius: 5px;
    --bs-btn-active-bg: #3d9b99;
    --bs-btn-disabled-bg: #102928;
    --bs-btn-disabled-opacity: 0.9;
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-border-color: #266362;
    --bs-btn-active-color: #000;
    --bs-font-sans-serif: 'Open Sans', sans-serif;
    --bs-primary-rgb: #1abc9c;
    --bs-bg-opacity: 0.3;
}