<div *ngIf="payloadData" class="container-fluid pt-4">
    <div class="row g-2">
        <div class="col-12 col-md-12 col-lg-6 mb-5 d-flex justify-content-center ">
            <div class="img-custom p-3 card-custom card-identity">
                <div class="row">
                    <div class="col-1 col-md-1 col-lg-1">
                        <img height="20px" width="25px" src="assets/images/flag-costa-rica.png" alt="CostaricaFlag" srcset="">
                    </div>
                    <div class="col-8 col-md-5 col-lg-7 text-end d-grid">
                        <span style="font-family: 'Times New Roman', Times, serif;">REPÚBLICA DE COSTA RICA</span>
                        <small class="fw-bold">Tribunal Supremo Canino</small>
                        <small class="fw-bold" [ngClass]="{'pb-5': !Media.IsMobile, 'pb-2': Media.IsMobile}">Cédula de identidad</small>

                        <span class="mt-2 fs-6 fw-bold">{{payloadData._id}}</span>
                        <div class="text-end">
                            <img height="200" width="200" style="opacity: 0.4;" src="assets/images/paw-cedula-identidad.png" alt="" srcset="">
                        </div>
                    </div>
                    <div class="col-3 col-md-6 col-lg-4 text-end">
                        <div class="banner">
                            <img class="rounded-custom image-profile" style="object-fit: cover;" src="{{payloadData.photo}}" alt="{{payloadData.photo}}">
                        </div>
                    </div>
                </div>
                <div class="row d-flex align-items-center">
                    <div class="col-1">
                        <img height="50" width="50" class="rounded-circle" style="object-fit: cover; opacity: 0.2;" src="{{payloadData.photo}}" alt="{{payloadData.photo}}">
                    </div>
                    <div class="col-8">
                        <div class="row g-2">
                            <div class="col-6 text-end">
                                <small>Nombre:</small>
                            </div>
                            <div class="col-6">
                                <span class="fw-bold">{{payloadData.petName}}</span>
                            </div>
                            <div class="col-6 text-end">
                                <small>Teléfono:</small>
                            </div>
                            <div class="col-6">
                                <span class="fw-bold">{{payloadData.phone}}</span>
                            </div>
                        </div> 
                    </div>
                    <div class="col-3 text-end">
                        <img height="20px" width="25px" style="opacity: 0.2;" src="assets/images/flag-costa-rica.png" alt="CostaricaFlag" srcset="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6 mb-5 d-flex justify-content-center">
            <div class="img-custom p-3 card-custom card-identity">
                <div class="row">
                    <div class="col-12 text-end d-grid">
                        <div class="row g-2 d-flex align-items-center">
                            <div class="col-4 text-end">
                                <small>Número de cédula</small><br>
                            </div>
                            <div class="col-8 text-start">
                                <span class="fw-bold d-inline-block text-truncate" style="max-width: 200px;">{{payloadData._id}}</span><br>
                            </div>

                            <ng-container *ngIf="payloadData.birthDate != ''">
                                <div class="col-4 text-end">
                                    <small>Fecha de Nacimiento:</small><br>
                                </div>
                                <div class="col-8 text-start">
                                    <span class="fw-bold">{{transformDate(payloadData.birthDate) }}</span><br>
                                </div>
                            </ng-container>
                            
                            <ng-container *ngIf="payloadData.ownerPetName != ''">
                                <div class="col-4 text-end">
                                    <small>Nombre del padre o madre:</small><br>
                                </div>
                                <div class="col-8 text-start">
                                    <span class="fw-bold">{{ payloadData.ownerPetName }}</span><br>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="payloadData.veterinarianContact != ''">
                                <div class="col-4 text-end">
                                    <small>Contacto de Veterinaria:</small><br>
                                </div>
                                <div class="col-8 text-start">
                                    <span class="fw-bold">{{ payloadData.veterinarianContact }} al ( {{payloadData.phoneVeterinarian}} )</span><br>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="payloadData.favoriteActivities != ''">
                                <div class="col-4 text-end">
                                    <small>Actividades Favoritas: </small><br>
                                </div>
                                <div class="col-8 text-start">
                                    <span class="fw-bold">{{ payloadData.favoriteActivities }}</span><br>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="payloadData.favoriteActivities != ''">
                                <div class="col-4 text-end">
                                    <small>Salud y requerimientos: </small><br>
                                </div>
                                <div class="col-8 text-start">
                                    <span class="fw-bold">{{ payloadData.healthAndRequirements }}</span><br>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="payloadData.address != ''">
                                <div class="col-4 text-end">
                                    <small>Direccion:</small><br>
                                </div>
                                <div class="col-8 text-start">
                                    <span class="fw-bold">{{ payloadData.address }}</span><br>
                                </div>
                            </ng-container>
                        </div> 
                    </div>
                </div>
                <div class="row text-center">
                    <qrcode [qrdata]="AngularxQrCode" size="200" [allowEmptyString]="true" [width]="156" [errorCorrectionLevel]="'L'"></qrcode>
                </div>
                <div class="row d-flex align-items-center">
                    <div class="col-1">
                        <img height="50" width="50" class="rounded-circle" style="object-fit: cover; opacity: 0.2;" src="{{payloadData.photo}}" alt="{{payloadData.photo}}">
                    </div>
                    <div class="col-11 text-end">
                        <img height="20px" width="25px" style="opacity: 0.2;" src="assets/images/flag-costa-rica.png" alt="CostaricaFlag" srcset="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>